@using Microsoft.AspNetCore.Html
@using RazorEmails.Views.Emails.ActivateUserEmail
@using RazorEmails.Views.Shared
@model ActivateUserEmailViewModel

@{
    ViewData["EmailTitle"] = "Velkommen til Dansk Gartneri Indberetningssystem";
    ViewData["buttonUrl"] = Model.Url;

  <tr>
    <td class="mailSection">
      @(new HtmlString(@Model.Paragraph))
      @await Html.PartialAsync("EmailButton", new EmailButtonViewModel("Aktiver din konto", Model.Url))
    </td>
  </tr>

}
